*
  font-family: 'Montserrat'

.header
  height: 180px

  background-color: black
  border: 1px solid transparent

.section
  position: relative

  height: calc(100vh - 180px)
  min-height: 700px

  background-color: #1a1920
  overflow: hidden
  h1, p
    font-family: 'Montserrat'
    text-align: center
    color: white
  h1
    position: relative

    margin-top: 130px
    margin-bottom: 10px

    font-weight: 500
    font-size: 66px
  .word
    position: relative
    &_evo
      position: absolute
      left: 0
      opacity: 0
      animation: thisAnim 8s ease-in-out infinite
      animation-delay: 3s
    &_this
      animation: evoAnim 8s ease-in-out infinite
      animation-delay: 3s
    &_everything
      animation: evoAnim 8s ease-in-out infinite
      animation-delay: 3s
    &_you
      position: absolute
      left: 0
      opacity: 0
      animation: thisAnim 8s ease-in-out infinite
      animation-delay: 3s
  .through
    display: table

    margin-left: auto
    margin-right: auto
    margin-bottom: 10px

    background: linear-gradient(to right, #fe7f3a, 50%, #b968cf, 90%, #822efe)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

    font-size: 36px

.timer
  position: absolute
  top: -150px
  left: 0
  bottom: 0
  right: 0

  margin: auto

  width: 950px
  height: 450px

  background-image: url('../img/border.png')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  &__flex
    display: flex
    align-items: center
    justify-content: space-between

    width: 600px

    margin-left: auto
    margin-right: auto

    opacity: 0
    transition: all 1s ease
    .big
      font-size: 94px
      font-weight: 700
    .small
      font-size: 22px
  &__counter
    width: 20%

.dots
  span
    display: block

    width: 12px
    height: 12px

    margin-bottom: 12px
    border-radius: 50%
  &_orange
      background: linear-gradient(to right, #fe7f3a, 90%, #822efe)
  &_orange_light
    background: linear-gradient(to right, #fe7f3a, #822efe)
  &_violet
    background: #822efe

.morph_svg
  position: absolute
  z-index: 4

  opacity: .2
  &_1
    max-width: 96px
    width: 6vw
    bottom: 100px
    right: 30vw
    transform: scale(1) rotate(40deg)
    animation: beanAnim 10s ease-in-out infinite
  &_2
    width: 5vw
    top: 25px
    left: 40vw
    transform: scale(1)
    animation: beanAnim 10s ease-in-out infinite
  &_3
    width: 2.6vw
    top: 80px
    left: 200px
  &_4
    width: 11vw
    transform: rotate(90deg)
    right: 40px
    top: 200px
  &_5
    width: 4vw
    top: 30px
    right: 25vw
  &_6
    width: 14vw
    bottom: -82px
    left: -55px
    transform: rotate(130deg)
  &_7
    width: 6vw
    bottom: 100px
    right: 60px
    transform: rotate(270deg)
  &_8
    width: 9vw
    bottom: 30px
    left: 35vw
  &_9
    width: 5vw
    top: 30vh
    left: 70px
    transform: scale(1)
    animation: scaleAnim 3s ease-in-out infinite
    
.hidden, .small_mob
  display: none

@keyframes scaleAnim
 50%
  transform: scale(1.2)
 100%
  transform: scale(1)

@keyframes flyAnim
 100%
  top: 100vh

@keyframes beanAnim
 50%
  transform: scale(1.2) rotate(40deg)
 100%
  transform: scale(1) rotate(40deg)

@keyframes evoAnim
  25%
    opacity: 0
  60%
    opacity: 0
  75%
    opacity: 1

@keyframes thisAnim
  25%
    opacity: 1
  60%
    opacity: 1
  75%
    opacity: 0

@media (max-width: 1250px)
  .timer
    width: 750px
    background-size: 120%
    &__counter
      width: 18%
    &__flex
      .big
        font-size: 90px
      .small
        font-size: 20px
      .morph_svg_1
        display: none

  .section
    h1
      margin-top: 125px
        font-size: 56px
      .through
        font-size: 30px

      .timer__flex
        .big
          font-size: 70px
        .small
          font-size: 18px
          color: #f39c12

  .days
    margin-left: -15px

  .morph_svg
    &_1
      width: 90px
    &_2
      width: 70px
    &_3
      width: 40px
    &_6
      width: 190px


@media (max-width: 767px)
  .timer
    width: 460px
    background-size: 125%
    &__flex
      width: 350px
      .big
        font-size: 50px
      .small
        font-size: 16px

  .section
    h1
      margin-top: 170px
      font-size: 30px
    .through
      font-size: 20px

  .days
    margin-left: -20px

@media (max-width: 480px)
  .header
    height: 112px

  .timer
    border-top: 1px solid transparent
    width: 288px
    height: 150px
    background-position: center top
    &__flex
      width: 240px
      .big
        font-size: 36px
      .small
        display: none
        &_mob
          display: block

  .section
    height: calc(100vh - 112px)
    min-height: 330px
    max-height: 100vh
    h1
      margin-top: 45px
      margin-bottom: 5px
      font-size: 25px
    .through
      margin-bottom: 5px
      font-size: 14px

  .days
    margin-left: -3px

  .dots span
    width: 6px
    height: 6px

  .morph_svg
    &_1
      width: 29px
      bottom: auto
      top: calc(30% + 150px)
    &_2
      width: 40px
      left: 30vw
    &_5
      width: 20px
      left: 30px
      top: 50px
    &_6
      width: 85px
      bottom: 0
      left: 20px
    &_8
      width: 63px
      bottom: 40px
      right: 60px
      left: auto
      top: auto
    &_9
      width: 25px
      bottom: 30vh
      top: auto
